			</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
			<div class="col footer">
				<div class="header">
					<p>&copy; Aaron Fernandes</p>
				</div>
			</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="js/application.js"></script>
	</body>
</html>