			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="header">
					<p>&copy; Aaron Fernandes</p>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
		<script src="js/typeeffect.js"></script>
		<script src="js/application.js"></script>
	</body>
</html>