<!--
	Aaron Fernandes
	300773526
	COMP 308

	Assignment 1

	GITHUB: https://github.com/aagavin/Express-Profile

-->
<!DOCTYPE html>
<html>
	<head>
		<title>Aaron Fernandes | Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="stylesheets/style.css" rel="stylesheet" media="screen">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="header col">
					<h1 class="pull-right">Hello, world!</h1>
					<h1 class="pull-left">Aaron Fernandes</h1>
					<br><br>
					<h2>A real UNIX admin</h2>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
			<div class="col-4">
				<ul class="sidemenu">
					<li class="nav-header"><b>HEADER</b></li>
					<li ><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about">About</a></li>
					<hr>
					<li><a href="/docs">Docs [PDF]</a></li>
				</ul>
			</div>
			<div class="col-8 main-content">