<%- include ./partials/header.ejs %>

<h1>About Me</h1>

<p>
	For the past 10 years, I've been adminstrating UXIN Systems . I do this for a living and love what I do as every day there is something new and exciting to learn.
	<img style="float:right;padding:1em;" src="images/ken_thompson.jpg" />
</p>
<p>
	In my spare time, the UNIX community is a big part of my life. Whether teaching sysadming to kids at a local schools, managing  programming groups and bbs or attending a conference, I find keeping involved helps me stay up to date.
</p>
<p>
	If you would to learn more about what I do or have a project for me please contact me.
</p>

<%- include ./partials/footer.ejs %>