<%- include ./partials/header.ejs %>

<h1>Contact Me</h1>


<address>
	127 Dot Zero Street,<br>
	Toronto, ON,<br>
	CA<br>
</address>

<br>
<h2>EMAIL: </h2>
<p>Contact me via email:</p>

<form class="form-inline">
	<input type="text" placeholder="Email"><br>
	<input type="text" placeholder="Subject"><br>
	<textarea></textarea>
	<br>
	<button type="submit" class="btn">Submit</button>
	<br>
</form>


<%- include ./partials/footer.ejs %>