<%- include ./partials/header.ejs %>

<h1>Contact Me</h1>


<address>
	127 Dot Zero Street,<br>
	Toronto, ON,<br>
	CA<br>
</address>

<br>
<h2>EMAIL: </h2>
<p>Contact me via email:</p>



<form action="/contact" method="post" id="form">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="email" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
		<div>
        <!-- NOT SURE WHY THIS DOESNT WORK WITHOUT THE onclick -->
    	<input type="submit" class="btn" value="Submit" name="submit" onclick="javascript:document.getElementById('form').submit();">
    </div>
</form>

<%- include ./partials/footer.ejs %>