/*
  Aaron Fernandes - 300773526 
  COMP 308 - Assignment 1
  https://circuat.herokuapp.com/

  Custom styleing
*/

/*Font*/
@font-face {
  font-family: 'MainFont';
  src: url('fonts/Fixedsys500c.eot'); /* IE9 Compat Modes */
  src: url('fonts/Fixedsys500c.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Fixedsys500c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Fixedsys500c.svg#FixedsysTTF') format('svg'); /* Legacy iOS */
}

body{
  padding: .5%;
  background-color: rgb(0, 0, 132);
  font-family: MainFont, sans-serif;
}


.header{
  width: 100%;
  background-color: #00AAAA;
  color: #fff;
  display: block;
  padding: 1%;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.header h1{
  font-size: 2em;
  margin: 0;
}

.sidemenu{
  display: block;
  width: 100%;
  background-color: #BBBBBB;
  color: #0A0101;
  border: 1px solid #0A0101;
  margin-top: .3em;
  padding: .2em;
  padding-left: .5em;
  list-style-type: none
}
.sidemenu hr{
  margin: .2em;
  color: #0A0101;
  background-color: #0A0101;
}

.sidemenu li.active a{
  background-color: #00AAAA;
  color: #FDFEF9;
}

.sidemenu a{
  background-color: #BBBBBB;
  color: #0A0101;
  text-decoration: none;
  display: block;
  margin: 0;
}
.sidemenu li a:hover{
  background-color: #0A0101;
  color: #BBBBBB;
}

.main-content{
  margin-top: .3em;
  padding: .3em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #3333b7;
  color: rgb(187, 187, 187);
}

.main-content h1::before{
  content: '# '
}
.main-content h1{
  color: #fff;
  font-size: 1.5em;
}

.main-content h2{
  border-bottom: 1px solid #fff;
  color: #eee;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0;
}

.main-content{
  color: rgb(187, 187, 187) !important;
}
.main-content form{
  width: 50%;
  padding-bottom: 1em;
}
.main-content form div{
  display: block;
  padding: .5em;
}
.main-content form input, .main-content form textarea{
  color: #0A0101;
  width: 65%;
  float: right;
  display: block;
}

.footer{
  display: block;
  width: 100%;
}